* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #293264;
    background-color: #f5f7fb;
    background: url("images/blob-1.png") right top no-repeat, url("images/blob-2.png") left bottom no-repeat;
}

/* Start Screen styling */
.start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

.start-description {
    margin: 0;
    margin-top: 0.5em;
}

.start-btn {
    width: 10em;
    font-weight: 500;
    color: #f5f7fb;
    background-color: #4d5b9e;
    border: none;
    border-radius: 15px;
    margin: 1.8em 3em;
    padding: 15px 50px;
}

/* Quiz Screen styling */
.question-container {
    margin: 2.5em auto;
    max-width: 800px;
}

.loading {
    text-align: center;
}

.question {
    margin: 0 1em;
    padding: 0.5em 0 1.5em 0;
    border-bottom: 1px solid #DBDEF0;
}

.question-text {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.answer {
    font-size: 0.64rem;
    font-weight: 500;
    background-color: inherit;
    border: 1px solid #4d5b9e;
    border-radius: 0.5rem;
    padding: 0.25em 1em;
    margin: 0.4em;
}

.selected {
    background-color: #d6dbf5;
}

.correct {
    background-color: #94d7a2;
}

.wrong {
    background-color: #F8BCBC;
}

/* Button styling */
.start-btn:hover, .answer:hover, .footer-btn:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a slight shadow when pressed */
    transform: translateY(2px); /* Move the button down a bit when pressed */
}

.answer:active {
    background-color: #9fa6c8;
}

.start-btn:active, .question-check-btn:active {
    background-color: #3a4678;
}

/* Footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5em auto;
}

.footer-btn {
    color: white;
    background-color: #4d5b9e;
    border: none;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 1.5em;
    padding: 0.7em 1.4em;
}

.score-text {
    display: flex;
    flex-direction: column;
}

/* Results page styling */
.results-page {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}